* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(0deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%),
        repeating-linear-gradient(90deg, #aaa 0%, #ffffff 50%, #ffffff 50%, #555 100%);
    background-size: 30px 30px;
    background-blend-mode: difference;
    cursor: grab;

    span {
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        background: green;
        pointer-events: none;
        border-radius: 50%;
        background: url("https://cdn-1.motorsport.com/images/amp/0k7zJ1A0/s1000/aston-martin-23-1.jpg");
        background-size: cover;
        background-attachment: fixed;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
