* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #5f2c82, #49a09d, #5f2c82);
    animation: colorChange 10s linear infinite;
    background-size: 300%;
}

@keyframes colorChange {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 150%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(128, 128, 128, 0.874);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        color: #004845;
        text-shadow: 2px 2px 4px #ccc;
    }

    div {
        margin: 1rem;

        input.generator {
            font-size: 1.5rem;
            padding: 1rem;
            background: rgba(58, 58, 58, 0.733);
            color: white;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 100%;
        }

        input.client-text {
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            background: rgba(160, 160, 160, 0.733);
            color: rgb(0, 0, 0);
            text-align: center;
            border-radius: 5px;
            width: 100%;
        }
    }

    button {
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &.submit {
            &:hover {
                background-color: #004845;
                color: #fff;
            }
        }

        &.refresh {
            &:hover {
                background-color: #848484;
                color: #fff;
            }
        }
    }
}
