* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    h1 {
        font-size: 1.5rem;
    }

    .input {
        margin-top: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 1rem;
        width: 100%;
        max-width: 400px;
        text-align: center;

        &:focus {
            outline: none;
            border-color: #333;
        }
    }

    .btn {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        background-color: #090909;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        margin-bottom: 1rem;

        &:hover {
            background-color: #444;
        }
    }
}
