* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: purple;
}

h1 {
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 420px;
}

.activity {
    background-color: white;
    box-shadow: 0 0 2px gray;
    margin: 5px;
    height: 35px;
    width: 35px;
    transition: 3s ease;
    overflow: hidden;
    border-radius: 2px;
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    -ms-transition: 3s ease;
    -o-transition: 3s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;

    &:hover {
        transition-duration: 0s;
        overflow: hidden;
    }
}
