* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}

.indicator {
    background: linear-gradient(90deg, #ffffff 0%, #000000 100%);
    height: 10px;
    border-radius: 10px;
    width: 20%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.text {
    color: black;
    line-height: 10rem;
    text-align: center;

    span {
        background: white;
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: opx 2px 4px rgba(0, 0, 0, 0.21);
        margin: 0.5rem;
        font-size: 2rem;
        display: inline-block;
        transition: transform 0.5s ease-in-out;
        width: 150px;

        &:hover {
            transform: scale(1.1);
        }
    }
}
