* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    padding: 2.5rem;
    gap: 1rem;
    transition: all 0.3s ease;

    &.active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.popover {
    transform: translateY(50%);
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}
